<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>marionette App</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	
	<div id="app-container" class="container">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, sunt, aliquid, sapiente voluptate veniam reprehenderit quae laudantium distinctio voluptatibus fugiat eos libero provident nihil perferendis excepturi dolores aliquam ex quidem.</p>
	</div>
	
	<script type="text/template" id="contact-list-panel">
		<form action="">
			<input type="text" name="firstName" id="firstName" placeholder="first name">
			<input type="text" name="lastName" id="lastName" placeholder="last name">
			<button type="submit" class="btn btn-primary js-new">New contact</button>
		</form>
		<button class="btn btn-primary js-generate">Generate</button>
	</script>
	
	<script type="text/template" id="contact-list-layout">
		<div id="panel-region"></div>
		<div id="contacts-region"></div>
	</script>
	
	<script type="text/template" id="contact-list-none">
		<td colspan="4">No contacts to display.</td>
	</script>
	
	<script type="text/template" id="contact-list-item">
		<td><%= id %></td>
		<td><%= firstName %></td>
		<td><%= lastName %></td>
		<td>			
			<button class="btn btn-default btn-sm js-delete">Delete</button>
		</td>
	</script>
	
	<script type="text/template" id="contact-list">
		<thead>
			<tr>
				<th>Id</th>
				<th>First name</th>
				<th>Last name</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</script>
		
<!-- Necessary Scripts-->
	<script src="js/libs/jquery.js"></script>
	<script src="js/libs/json2.js"></script>
	<script src="js/libs/underscore.js"></script>
	<script src="js/libs/backbone.js"></script>
	<script src="js/libs/backbone.marionette.js"></script>
	<!-- My Scripts-->
	<script src="js/app.js"></script>
	<script src="js/cm.js"></script>
	<script src="js/view.js"></script>
	
	<script type="text/javascript">		
		UsersManager.start();
	</script>
	
</body>
</html>